<div class="site-section site-section-sm bg-primary">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-8">
            <h2 class="text-white">Wide Range of Properties Just For You</h2>
            <p class="lead text-white-5">Browse the listed properties.</p>
          </div>
          <div class="col-md-4 text-center">
            <a href="/properties/" class="btn btn-outline-primary btn-block py-3 btn-lg">See Properties</a>
          </div>
        </div>
      </div>
    </div>
    

    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="mb-5">
              <h3 class="footer-heading mb-4">About Spatial Ardhi</h3>
              <p>Our team is genial, novel, qualified and advisedly small; we offer elegant, customizable advanced various property visualization that encourages you to create wise property purchase choices with our in-house solutions.  </p>
            </div>

            
            
          </div>
          <div class="col-lg-4 mb-5 mb-lg-0">
            <div class="row mb-5">
              <div class="col-md-12">
                <h3 class="footer-heading mb-4">Navigations</h3>
              </div>
              <div class="col-md-6 col-lg-6">
                <ul class="list-unstyled">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Buy</a></li>
                  <!--li><a href="#">Rent</a></li-->
                  <li><a href="#">Properties</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-lg-6">
                <ul class="list-unstyled">
                  <li><a href="#">About Us</a></li>
                  <!--li><a href="#">Privacy Policy</a></li-->
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">Terms</a></li>
                </ul>
              </div>
            </div>


          </div>

          <div class="col-lg-4 mb-5 mb-lg-0">
            <h3 class="footer-heading mb-4">Follow Us</h3>

                <div>
                  <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                  <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                  <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                  <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
                </div>

            

          </div>
          
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;</script><script>document.write(new Date().getFullYear());</script> All rights reserved 
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
          
        </div>
      </div>
    </footer>

  </div>

  <script src="/static/property/js/jquery-3.3.1.min.js"></script>
  <script src="/static/property/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/static/property/js/jquery-ui.js"></script>
  <script src="/static/property/js/popper.min.js"></script>
  <script src="/static/property/js/bootstrap.min.js"></script>
  <script src="/static/property/js/owl.carousel.min.js"></script>
  <script src="/static/property/js/mediaelement-and-player.min.js"></script>
  <script src="/static/property/js/jquery.stellar.min.js"></script>
  <script src="/static/property/js/jquery.countdown.min.js"></script>
  <script src="/static/property/js/jquery.magnific-popup.min.js"></script>
  <script src="/static/property/js/bootstrap-datepicker.min.js"></script>
  <script src="/static/property/js/aos.js"></script>

  <script src="/static/property/js/main.js"></script>
  </body>
</html>