<div class="py-5" style="background-image: url(/static/images/hero_bg_1.jpg);">
      <div class="container">
        <form class="row mb-5">
          
          <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="select-wrap">
              <span class="icon icon-arrow_drop_down"></span>
              <select name="offer-types" id="offer-types" class="form-control d-block rounded-0">
                <option value="">Property Type</option>
                <option value="1000">Land</option>
                <option value="800">Houses</option>
                
              </select>
            </div>
          </div>
        
          <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="select-wrap">
              <span class="icon icon-arrow_drop_down"></span>
              <select name="offer-types" id="offer-types" class="form-control d-block rounded-0">
                <option value="">Location</option>
                <option value="United States">Kiambu</option>
                <option value="United Kingdom">Machakos</option>
                <option value="Canada">Kajiado</option>
                <option value="Belgium">Nairobi</option>
              </select>
            </div>
          </div>
       
          <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="select-wrap">
              <span class="icon icon-arrow_drop_down"></span>
              <select name="offer-types" id="offer-types" class="form-control d-block rounded-0">
                <option value="">Max Price</option>
                <option value="1">Ksh 1 000 000</option>
                <option value="2">Ksh 10 000 000</option>
                <option value="3">Ksh 50 000 000</option>
                <option value="4">Ksh 100 000 000</option>
                <option value="5+">Ksh 200 000 000</option>
              </select>
            </div>
          </div>
          <!--div class="col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="mb-4">
              <div id="slider-range" class="border-primary"></div>
              <input type="text" name="text" id="amount" class="form-control border-0 pl-0 bg-white" disabled="" />
            </div>
          </div-->
          <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
            <input type="submit" class="btn btn-primary btn-block form-control-same-height rounded-0" value="Search">
          </div>
          
        </form>

   
      </div>
    </div>