body {
    background-color: aqua;
    margin: 0; 
    padding: 0; 
}

#map { 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    width: 100%; 
}

.coordinates {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    bottom: 40px;
    left: 10px;
    padding: 5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    display: none;
}

#input_field{
    position: fixed;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    z-index: 10;

    max-height: 1000px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
}

#input_field > div > a{
    cursor: pointer;
}

div > form {
    overflow-y: scroll;
    margin-top: 10px;
    height: 63%;
    width: 100%;
}

.form-horizontal .form-group {
    margin-right: 0px;
    margin-left: 0px;
}
.form-group{
    margin-bottom: 5px;
}

.value{
    border: 1px solid #555;

    margin-top: 10px;
    padding-top: 5%;
    padding-bottom: 5%;

    height: 15%;
}

.value > label {
    font-size: 24px;
}

label{
    text-align: left!important;
}
